/*********************
GENERAL STYLES
*********************/
body {
	font-size: 100%;
	line-height: 1.5;
	color: #333;

	background-image:
linear-gradient(
to right, 
#fcf9f0,
#ffffff 33%,
#ffffff 67%,
#fcf9f0 100%
);
	text-align: center;
}

.color1 {
	background: #000000; /* Black */
}
.color2 {
	background: #ffcf01; /* Yellow */
}
.color3 {
	background: #4c1e47; /* Purple */
}
.color4 {
	background: #7f3376; /* Light Purple */
}
.color5 {
	background: #174d48; /* Green */
}
.color6 {
	background: #2d978f; /* Light Green */
}
.color7 {
	background: #ffe493; /* Light Yellow */
}
.color8 {
	background: #fcf9f0; /* Off White */
}

/*********************
TYPOGRAPHY
*********************/

body {
	font-family: 'Glober', Verdana, sans-serif;
}

.typography {
	text-align: left;
}

ul, ol {
	margin-left: 1.125em;
}

p, ul, ol {
	font-size: 1.125em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Glober', Verdana, sans-serif;
	color: #000000;
}

h1 {
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: normal;
}

h4 {
	font-size: 24px;
	line-height: 30px;
	font-style: italic;
	font-weight: normal;
}

h5 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

h6 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*********************
LINKS & BUTTONS
*********************/

a, a:visited {
	color: #2d978f; /* Light Green */
	text-decoration: none;
}

a:hover {
	color: #174d48; /* Green */
	text-decoration: underline;
}


button {
	background: #ffcf01; /* Yellow */
	border: none;
	color: #000;
	padding: 6px 12px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-right: 2em;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Glober', Verdana, sans-serif;
}

button:hover, button.active {
	background: #ffe493; /* Light Yellow */
	color: #000;
}

button.inactive {
	background: #ccc;
	box-shadow: none;
	color: white !important;
	cursor: default;
}


/*********************
PAGE HEADER
*********************/

header {
	background: white;
}

#logo {
	margin: 0 auto;
	width: 290px;
}

#logo img {
	width: 287px;
	height: auto;
	padding: 30px 0;
}

nav {
	text-align: center;
}
nav ul {
	font-size: 20px;
	margin-left: 0;
}
nav li {
	display: inline-block;
}

nav a {
	color: black;
	font-weight: bold;
	font-family: 'Glober', Verdana, sans-serif;
	display: block;
	padding: .75em 1.25em;
	text-decoration: none;
	transition: .2s;
	color: #4c1e47; /* Purple */
}

nav a:hover {
	color: #7f3376; /* Light Purple */
	text-decoration: none;
}


/*********************
TYPOGRAPHY
*********************/
.typography {
	background: white;
}

/*********************
SIDEBAR
*********************/

.sidebar-block {
	background: #faf3e3; /* Light Tan */
	border: 1px solid #e6dfd0;
	padding: 2em;
	margin: 1em 0;
	text-align: left;
}

.sidebar-block h3 {
	margin: 0;
}

.sidebar-block h5 {
	font-weight: bold;
	margin: 0 0 .25em 0;
}

.sidebar-block .headline {
	border-bottom: 1px solid #e6dfd0;
	padding-bottom: 1em;
}

.sidebar-block .date {
	margin-top: 2em;
}

.sidebar-block p {
	margin: 0;
	font-size: 1em;
	color: #666;
}

.sidebar-block ul {
	list-style: none;
	margin: 0;
}
.sidebar-block li {
	padding: .25em 0;
}

.sidebar-block span {
	font-size: 1.5em;
	float: left;
	margin: -.125em .25em 0 0;
}

.sidebar-block .active a {
	color: black;
	margin-left: -.8em;
	text-decoration: none !important;
}

.sidebar-block .active a:before {
	content: '« ';
}


/*********************
TICKER
*********************/

#ticker {

}
.ticker-dark {
	background: black;
	background: url(assets/px_by_Gre3g.png) repeat;
	border-top: 2px solid black;
	border-bottom: 2px solid white;
	color: white;
	text-shadow: -1px -1px 0 black;
	padding: .625em 1em;
}
.ticker-dark em {
	color: #bbb;
	padding: 0 .2em;
}

.ticker-dark span {
	margin: 0 1em;
}

.ticker-dark .up {
	color: #00bb91;
}

.ticker-dark .down {
	color: red;
}


/*********************
ICONS
*********************/

.icons {
	margin: 2em;
}
.icons span {
	font-size: 28px;
	line-height: 2em;
	padding: .5em;
	color: black;
}

/*********************
ARTICLE
*********************/

.article {
	text-align: left;
}

/*********************
TAN BLOCK
*********************/

.tan-block {
	background: #ebe1c9;
	padding: .5em 2em 2em 2em;
	color: #666;
}

.tan-block h3 {
	color: black;
}

.white-block {
	display: inline-block;
	vertical-align: top;
	background: white;
	box-shadow: 1px 1px 6px rgba(0,0,0,.1);
	padding: .5em;
	margin: 0 1em 1em 0;
	width: 180px;
	text-align: center;
	line-height: 1.2em;
}

.white-block .image {
	background: #eee;
	height: 150px;
	width: 100%;
	display: block;
}
.white-block .heading {
	font-weight: bold;
	font-family: 'Glober', Helvetica, sans-serif;
	display: block;
	color: black;
	margin: .5em .2em .2em .2em;
}

.white-block .subheading {
	font-style: italic;
	color: #666;
	font-size: .875em;
}

.white-block a.heading, a.white-block .heading {
	color: #005542; /* Green */
}

a.white-block:hover {
	background: #ffc;
	text-decoration: none;
	box-shadow: none;
}


/*********************
GREEN BLOCK
*********************/

.bronze-block {
	background: #825633; /* Bronze */
	padding: .5em 2em 2em 2em;
	color: white;
}

.green-block button {
	border: 1px solid white;
}
.green-block button:after {
	border: none;
}


/*********************
DARK BLOCK
*********************/

.dark-block {
	background: #1a1815;
	padding: .5em 2em 2em 2em;
	color: #faf3e3; /* Light Tan */
}
