/* GENERAL */
.upper{
	text-transform:uppercase;
}
strong{
	font-weight:500;
}
.vert-center{
	position: relative;
	top: 40%;
	transform: translateY(-60%);
}
.navbar-fixed-top.sticky {
	background:red !important;
}
.navbar-fixed-top{
	border:0;
}
/* IMAGE OVERLAY */
.overlay-wrapper{
	text-align:center;
	width:100%;
	position:relative;
}
.overlay-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align:center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
}
.overlay {
	z-index: 9;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(80,80,80, 0);
	transition: background 0.8s;
}
.overlay-content {
	z-index: 10;
	display: block;
	opacity:1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: opacity 0.8s;
}
.overlay-hover-content {
	z-index: 10;
	opacity:0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: background 0.8s;
}
.overlay-wrapper.hoverable:hover{
	.overlay-hover-content {
		opacity:1;
		transition: opacity 0.8s;
	}
	.overlay-content {
		opacity:0;
		transition: opacity 0.8s;
	}
	.overlay{
		background: rgba(255,255,255, 1);
		transition: background 0.8s;
	}
}
.interior{
	border: solid 1px @light-gray;
}
navbar.sticky{
	z-index:999;
	background:red;
}
.logged-in{
	margin-top: @admin-bar-height;
	header, #header-clone{
		top: @admin-bar-height; // offset for admin bar
	}
}
#header-clone{
	display:none;
}
.stuck-navbar #header-clone {
	display:block;
}
.st-container, .st-container.stickyfooter{
	margin-top:-@header-height;
	padding-top:@header-height;	
}
.st-container.container.active{
	min-height:100vh;
	padding-left:0;
	padding-right:0;
	margin-left:-15px;
	.st-pusher{
		min-height:100vh;
		#sidebar-wrapper{
			display:inline-block;
		}
		.st-content-inner{
			padding-left:15px;
		}
	}
}
#sidebar-wrapper{
	min-height:100vh;
}
#wrapper.inactive{
	#sidebar-wrapper{
		display:none;
	}
}
.mobile-menu{
	display:block;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.stickyfooter {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@footer_height;
  /* Pad bottom by footer height */
  padding: 0 0 @footer_height;
}

/* Set the fixed height of the footer here */
#page-footer {
	background-color:blue;
  min-height: @footer_height;
//  background: darken(@brand-primary, 5%);
  position: relative;
}