@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot?-r3u6m4');
  src:url('icomoon.eot?#iefix-r3u6m4') format('embedded-opentype'),
  url('icomoon.woff?-r3u6m4') format('woff'),
  url('icomoon.ttf?-r3u6m4') format('truetype'),
  url('icomoon.svg?-r3u6m4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('MuseoSans_300.eot'); /* IE9 Compat Modes */
  src: url('MuseoSans_300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MuseoSans_300.woff') format('woff'), /* Modern Browsers */
       url('MuseoSans_300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MuseoSans_300.svg#83308de0ca4237e6cd44fbae61d13495') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
